.homePageToptext {
  max-width: 600px;
}

.homePageCatalogCta {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  width: 100%;
}

.ctaBloc {
  text-decoration: none;
  color: inherit;
}

.ctaBloc:hover {
  cursor: pointer;
}

.homePageCatalogCtaBloc {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.ctaBloc:hover .homePageCatalogCtaBloc {
  transform: translateY(-5px);
}

.homePageCatalogCtaArrow {
  display: inline-block;
  font-family: var(--font-gridular), monospace;
  font-size: 32px;
  margin-left: 10px;
  transform: rotate(-45deg);
  transition: transform 0.3s ease;
}

.ctaBloc:hover .homePageCatalogCtaArrow {
  transform: translateX(5px);
}

.homePageCatalogCtaImage {
  width: 238px;
  height: 238px;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1025px) {
  .homePageCatalogCta {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
